language: csharp
mono: none
dotnet: 3.1.100
services:
  - docker
install:
  - dotnet restore API/Solution1.sln
branches:
  except:
    - master

addons:
  sonarcloud:
    organization: "lazyopsdev"
    token:
      secure: "pMUyXC4EPjSBxSVtphWeIJFvc3rH7A6n5JWcYN2gdGtz27M3tC+Dkv2/c/8D+4qadYMAjkP0VVM0seslkOYe7zerdfUrT8UxWGNjPZzjdZQEz+rccbJwxJeGvXm42+AUt3eopkQOcO4ZwbUZmkdTFQmM/4CXKdmBMgx+nxdbE59wIO/pxQoI9oRdnoGfNbJSVumvOBfph8QCAH0U+gXyogqMEFSKTCyfO+Q64xuGJYCZ+VVjWdQimo3e6RWzVw8tViSVMU/NMAlbXMrZeZdt4Ab+CzzFXpIsdxLMO6bhY9GUK9RmCvZhGSXzNgd5hRpu+CoQHL961zc9gPk7yEcuYRz8kUYuoNK/m5hN3xJx03k7wwEb+D8qMDke6kSXLJNJVk7o+Ej0pPmR74whXswqgZBrQeZThyt29VdytxEGLhAOCHaaq70T4bAq6XKl1qCDm7OZRfzIfL+tvHOpPQK1nsxKhPOpWcAc1ctxneV29iCtSxGQHv2WqnxSdZ0OfU8anvXXZR7UhkIGRt7LPUpunkXiLfHEnTnXCKdgwuwKRohqCyp+0efCYl7DHHxJv9GXS/h8AaBrraoVnX3+QHOxV7DMa0+sfEK1pvSuMuuQBaIHFla/8tYcTlX0j/brGE9//umbsQkdZOAekwXbvMIspkfM12NG+0nBI2h6TH0oHR4="
jobs:
  include:
    # Build and run tests
   
    - stage: build
      name: "Build Solution"
      script: 
        - dotnet build --configuration Release API/Solution1.sln
        - echo "Build"

    - stage: test
      name: "Run Tests"
      script: 
        - dotnet test API/Minitwit.Tests/Minitwit.Tests.csproj
        - echo "Test"

    # Build docker image and push to dockerhub:
    # - stage: deliver
    #   if: tag IS present
    #   name: Upload docker image
    #   env:
    #     - ORG_NAME=lazyopsdev
    #     - IMAGE_NAME=api
    #     - DEFAULT_DOCKER_TAG=latest
    #   script:
    #     - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    #     - cd API && docker build -t $IMAGE_NAME .
    #     - docker tag $IMAGE_NAME "$ORG_NAME/$IMAGE_NAME:$TRAVIS_TAG"
    #     - docker tag $IMAGE_NAME "$ORG_NAME/$IMAGE_NAME:$DEFAULT_DOCKER_TAG"
    #     - docker push "$ORG_NAME/$IMAGE_NAME:$TRAVIS_TAG"
    #     - docker push "$ORG_NAME/$IMAGE_NAME:$DEFAULT_DOCKER_TAG"

    # GitHub auto merge to master:
    - stage: auto-merge
      if: tag IS present
      name: Merge to master
      env:
        - GITHUB_USER_EMAIL="lazyopsdev@gmail.com"
        - GITHUB_USER_NAME="lazyopsdev-ci"
        - GITHUB_REPO_URI="LazyOpsDev/Minitwit.Backend"
      script:
        - git config --global user.email "$GITHUB_USER_EMAIL"
        - git config --global user.name "$GITHUB_USER_NAME"
        - git config --add remote.origin.fetch +refs/heads/*:refs/remotes/origin/* || exit
        - git fetch --all || exit
        - git checkout master || exit
        - git merge --no-ff "$TRAVIS_COMMIT" || exit
        - git remote add travis-origin https://${GITHUB_USER_NAME}:${GITHUB_TOKEN}@github.com/${GITHUB_REPO_URI}.git > /dev/null 2>&1
        - git push --quiet --set-upstream travis-origin master
  - stage: analysis
      name: "Analysis Code"
      script:
        - sonar-scanner

notifications:
  email:
    - krza@itu.dk
    - phko@itu.dk
    - alsb@itu.dk
    - arca@itu.dk
